# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
.conda/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# OS / IDE specific
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python cache
*.pyo
*.pyd
*.pdb

# Environment / secrets
.env
*.env
*.pkl
*.npy
